*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */

}
body{
    overflow: hidden;
    text-align: center;
    background-color: #a9a9a9;
}

#carCanvas{
    background: #d3d3d3;
}
#networkCanvas{
    background-color: black;
}